# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List libraries used by Data Scientists 
- Three development environment open source tools used in data science
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:}
1. Pandas
2. Numpy
3. Matplotlib

Three development environment open source tools used in data science:

|Data Science Tools|
--------------------
|Jupyter|
|Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Rower Retamozo